.community-space {
  .when-ask {
    margin-top: 20px;
  }

  .date-info {
    margin-top: 12px;
  }

  .whom-ask {
    margin-top: 20px;
  }

  .community-tags-container {
    margin-bottom: 20px;
  }

  .next-submit-input-container {
    margin-top: 20px;
  }
}
